<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>监听属性</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName"> <br>
        {{firstName + lastName}} <br>
        {{fullName}} <br>
        {{num}}
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                firstName: "",
                lastName: "",
                num: 0,
            },
            computed: {
                fullName: function(){
                    return this.firstName + this.lastName;
                },
            },
            watch: {
                fullName: function(){
                    this.num++;
                },
            },
        });
    </script>
</body>
</html>